* {
	box-sizing: border-box;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: url('./assets/blurred.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	display: flex;
	height: 80%;
	width: 95%;
	visibility: visible;
	opacity: 1;
	background: url('./assets/nonblurred.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.main_info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 80%;
}

.main-weather_box {
	display: flex;
	margin: 10rem;
	align-items: baseline;
}

.weather_box_padding {
	padding: 0 0.5rem;
}

.degrees {
	font-size: 70px;
}

.city {
	font-size: 50px;
}

.weather_type {
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.content {
	display: flex;
	flex-direction: column;
	width: 20%;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(30px);
}

.content-form {
	display: flex;
}

label {
	display: flex;
}

#label_form_input {
	width: 19rem;
	background-color: transparent;
	border: none;
}

::-webkit-input-placeholder {
	color: white;
	font-size: 15px;
}

h2 {
	margin: 1rem 0 3.5rem 1rem;
}
.weather_details_items {
	margin: 2rem 1rem;
	display: flex;
	justify-content: space-between;
}

.weather_details_font-size {
	font-size: 20px;
}
